.tsMainMenu {
  .navbar-start{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-item{
    color:#bbbccd;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px solid transparent;
    letter-spacing: 2.5px;
    &.active,&:hover{
      color:#3E4165;
      border-bottom: 3px solid #506DCF;
      font-size: 13px;
      letter-spacing: 2.5px;
      font-weight: bold;
    }
  }
}
