.ant-carousel .slick-slide {
  text-align: center;
  padding: 50px;
  height: 499px;
  line-height: 160px;
  background: #EEEEEE;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #3E4164;
  text-align: center;
}
