.tsUploadButton {
  .uploadLabel{
    background-color: #5757ff;
    font-size: 18px;
    color:#fff;
    font-weight: 600;
    height: 50px;
    min-width: 200px;
    border-radius: 15px;
    text-transform: capitalize;
    line-height: 36px;
  }
}