@import '../../../node_modules/antd/dist/antd.css';

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #EEEEEE;
  overflow: hidden;
  padding-top: 20px;
}

.ant-carousel .slick-slide h3 {
  color: #3E4164;
  text-align: center;
}