$black-color: #25252d;
$white-color: #fff;
$white-color-15: rgba(255,255,255,0.15);
$white-color-05: rgba(255,255,255,0.05);
$white-color-5: rgba(255,255,255,0.5);
$blue-color: #2eb1fe;
$blue-2-color: #2b8dc8;
$grey-color: #6d6d6d;
$line-color: #c0c0c0;
$pink-color: #ff2d94;




