.tsPlayInfo{
  flex-direction: row;
  height: 100%;
  display: flex;
  .tsPlayInfo-details{
    padding: 30px 25px 15px;
  }
  .th-img {
    width: 128px;
    height: 128px;
    position: relative;
    top: -4px;
    border-radius: 0;
  }
  .title{
    font-size: 13px;
    color:#222;
    font-weight: 600;
    line-height: 1.5;
  }
  .album-title{
    text-transform: uppercase;
    font-size: 10px;
    color: #888888;
    margin-bottom: 10px;
  }
  .tsDefaultBtn{
    margin: 0;
    color:#fff;
    padding: 0 18px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    background: none;
    text-transform: capitalize;
    background-color: rgb(80,109,207);
  }
}