.tsPlayBack {
  height: 100%;
  margin-top: 20px;
  .md-slider-track{
    margin: 0;
    height: 32px;
    background: transparent;
  }
  .md-slider-container{
    border-radius: 12px;
    padding: 0 3px 0 6px;
    width: 162px;
    background-color: rgb(80,109,207);
  }
  .md-slider-track-fill{
    height: 32px;
    background: transparent;
  }
  .md-slider-thumb{
    top:-3px;
    border-radius: 5px;
    height: 38px!important;
    width: 9px!important;
    background: #fff;
    border: 2px solid #506DCF;
    transform: none!important;
    .md-slider-thumb--active{
      transform: none!important;
    }
  }
  .tsLabel{
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }
  .md-slider-thumb--mask{
    opacity:0;
  }
  .tsLabelsWrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    span{
      color:#222;
      font-weight: 600;
      font-size: 12px;
    }
  }
}